.banner{
  background-image: url('../../images/banner-photo.jpeg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner h1, p{
  color: white;
}

.banner p{
  font-size: 35px
}

.banner p{
  margin-bottom: 50px;
  font-size: 25px
}
